h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Signika';
}
body {
  padding-left: 100px;
  background: #eeeeee url(../assets/bg.png) top left repeat-y;
}
.nav {
  color: #fff;
  position: absolute;
  width: 100px;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 170px;
  font-family: 'Signika';
  font-weight: 300;
  text-transform: uppercase;
}
.nav img {
  position: absolute;
  top: 0;
}
.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav ul li {
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.nav ul li a,
.nav ul li a:focus,
.nav ul li a:active {
  color: #888;
  text-decoration: none;
}
.nav ul li a:hover,
.nav ul li a:focus:hover,
.nav ul li a:active:hover {
  color: #fff;
  text-decoration: none;
}
.nav ul li.active a {
  text-decoration: none;
  color: #fff;
}
.nav ul li i {
  display: block;
  font-size: 30px;
  margin-bottom: 5px;
}
.utils {
  height: 80px;
  line-height: 80px;
  padding-right: 20px;
}
#container .header {
  background: #fff;
  height: 80px;
  padding: 0 20px;
  line-height: 80px;
}
#container .header h1 {
  height: 80px;
  line-height: 80px;
  display: inline-block;
}
#container .content {
  padding: 20px;
}
