<ul>
    <li ui-sref-active="active">
        <a ui-sref="actions.list">
            <i class="fa fa-calendar"></i>
            akcje
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="actions.new">
            <i class="fa fa-plus"></i>
            nowa akcja
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="users.list">
            <i class="fa fa-users"></i>
            baza
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="my-profile">
            <i class="fa fa-user"></i>
            mój profil
        </a>
    </li>
</ul>