h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: 'Signika';
}

body {
  padding-left: 100px;
  background: #eee url(../assets/bg.png) top left repeat-y;
}

.nav {
  color: #fff;
  position: absolute;
  width: 100px;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top:170px;
  font-family: 'Signika';
  font-weight: 300;
  text-transform: uppercase;

  img {
    position: absolute;
    top: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      text-align: center;
      display: block;
      width: 100%;
      margin-bottom: 20px;

      a, a:focus, a:active {
        color: #888;
        text-decoration: none;

        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }

      &.active a {
        text-decoration: none;
        color: #fff;
      }

      i {
        display: block;
        font-size: 30px;
        margin-bottom: 5px;
      }
    }
  }
}

.utils {
  height: 80px;
  line-height: 80px;
  padding-right: 20px;
}

#container {
  
  .header {
    background: #fff;
    height: 80px;
    padding: 0 20px;
    line-height: 80px;

    h1 {
      height: 80px;
      line-height: 80px;
      display: inline-block;
    }
  }

  .content {
    padding: 20px;
  }
}