<div class="header">
    <h1>Użytkownicy</h1>
</div>

<div class="content">
    <h3>Lista</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut error eum iure magni molestias numquam obcaecati quae qui, quia tempora ut. Ducimus fuga id laboriosam magni minus vel voluptatem?</p>
</div>