
<div class="header">
    <h1>Akcje</h1>
</div>

<div class="content">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias cum deserunt eius laboriosam laudantium optio pariatur perferendis quis temporibus? Ad dicta enim magnam molestiae natus praesentium quam quasi sequi?</p>

</div>